{% include 'fragments/header.html' %}

<div class="row">
	<div id="result" class="col-xs-12">
		<div id="searchResult" class="col-md-8"></div>
		<div id="entities" class="col-md-4"></div>
	</div>
</div>



{% include 'fragments/footer.html' %}