{% include 'fragments/header.html' %}

<div id="result" class="row">
		<div id="searchResult" class="col-md-7 col-md-offset-1"></div>
		<div id="entities" class="col-md-3"></div>
</div>




{% include 'fragments/footer.html' %}