.header {
	text-align: center;
	background: url('../images/bg-line.png') repeat-x 0 30px;
}
#result {
	padding:1em;
}
#searchResult {
	padding:1em;
}
.entity {
	margin-bottom:10px;
	padding:10px;
	border:1px solid #CCCCCC;
	border-radius: 5px;
}