<!DOCTYPE html>
<html lang="en">
<head>
	<title>CNET SearchEngin</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="web/css/style.css">
	<!-- jQuery library -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="web/js/script.js"></script>
</head>
<body>
	<div class="container-fluide">
		<div class="row header">
		  <div class="col-sm-4 col-sm-offset-4">
		  	<h1><a href="home"><img src="web/images/logoSE.png" alt="logo MyAEm"></a></h1>
		    <div class="input-group">
		      <input type="text" class="form-control" aria-label="search" name="search" id="search">
		      <div class="input-group-btn">
		        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search on <span class="caret"></span></button>
		        <ul class="dropdown-menu dropdown-menu-right">
		          <li><a href="#" class="crawl" id="first">First Crawl</a></li>
		          <li><a href="#" class="crawl" id="second">Second Crawl</a></li>
		          <li><a href="#" class="crawl" id="third">Third Crawl</a></li>
		        </ul>
		      </div><!-- /btn-group -->
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	
